<div class="card">
  <img src="<%= item.thumbnail_url %>" alt="Nike Black Shoes" class="card-img">
  <div class="card-body">
    <div class="card-title">
      <h3 ><%= item.title %></h3> 
      <button class="wishlist-btn" data-id="<%= item.id %>">
        <i class="fa-regular  fa-heart" ></i>
      </button>
    </div>
    <p class="card-text"><%= item.description %></p>
    
  </div>
  <div class="card-footer">
    <div class="card-actions">
      <a href="/item-details" class="card-link">More details</a>
      <a href="#" class="card-link">Contact seller</a>
    </div>
    <div class="card-price">
      $<%= item.price %>
    
    </div>
  </div>
</div>