<div class="card">
  <img src="<%= item.thumbnail_url %>" alt="Nike Black Shoes" class="card-img">
  <div class="card-body">
    <div class="card-title">
      <h3 ><%= item.title %></h3> 
     </div>
    <p class="card-text"><%= item.description %></p>
    </div>
  <div class="card-footer">
    
    <div class="card-price">
      Price: $<%= item.price %>
    
    </div>
    
    <a href="/manage-listing/<%= item.id %>" class="manage-listings-btn">Manage Listings</a>

  </div>
</div>