<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Meta Information -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--Font links-->
  <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300&family=Roboto+Condensed:wght@300&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />


  <!-- App CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/products.css" />
  <link rel="stylesheet" href="/styles/nav.css" />
  <link rel="stylesheet" href="/styles/itemdes.css" />
  <link rel="stylesheet" href="/styles/removeitem.css" />

<title>SneakElite - Remove Listings Page</title>

</head>

<body>

  <%- include('partials/_header') %>
    <main>
      <h1> <%= items[0].title %> </h1>
      <div class="item-body">
        <div class="card-img">
          <img src="<%= items[0].cover_url %>" alt="Nike Black Shoes" class="card-img">
        </div>

        <div class="item-card">
          <div class="item-price">
            <h3>Price: $<%= items[0].price %></h3>
          </div>
          <div class="description">
            <h4> Description </h4>
          </div>
          <p class="card-text"><%= items[0].description %></p>
          <ul class="item-type">
            <li>
              <span> Brand:</span> <%= items[0].brand %>
            </li>
            <li>
              <span>Size:</span> <%= items[0].size %>
            </li>
            <li>
              <span>Color:</span> Black
            </li>
            <li>
              <span>Condition:</span> <%= items[0].condition %>
            </li>
          </ul>

          <!-- <a href="/remove-listing" class="card-link"></a> [why are we using it? [Tauqeer]]-->


          <div class="item-footer">
            <form action="/api/listings/<%= items[0].id %>/delete" method="post" >
              <button type="submit" class="remove-item-btn">
                Remove Item
              </button>
            </form>
            

            <button class="mark-sold-btn">
              Mark Sold
            </button>
          </div>

        </div>
      </div>
    </main>




</body>

</html>

